
@{
    ViewBag.Title = "AboutPoland";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutPoland</h2>

<div class="row">
    <div class="col-sm-4">111111111</div>
    <div class="col-sm-4">22222222222</div>
    <div class="col-sm-4">33333333333</div>
   
</div>