
@{
    ViewBag.Title = "AboutPoland";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.kwords = "города Польши, столица Польши, национальная кухня Польши, интересные факты о Польше, валюта Польши";
}

<div class="container">
    <div class="row">
        <h3 class="ZagolovokColor"> О ПОЛЬШЕ</h3>
        <p>
            Официальное название страны – <strong> Республика Польша,</strong> а национальным символом является белый орел. Территория Польши (312679 км²) по размеру
            соразмерна территориям Испании или Германии и разделена на 16 воеводств, то есть областей, которые в свою очередь делятся на повяты (уезды) и гмины (волости).
            Столица — Варшава. Государственный язык — польский.
            Расположена в центре Европы. Омывается на севере Балтийским морем. Имеет сухопутную границу с Россией (Калининградской областью), Литвой, Белоруссией,
            Украиной, Словакией, Чехией и Германией.

        </p>
    </div>
    <a name="City"></a>
    <div class="row">
        <h3 class="ZagolovokColor"> ГОРОДА ПОЛЬШИ </h3>
        <p>
            Польша- страна с уникальной архитектурой, каждый ее город пропитан историей и несет в себе что-то сказочное.
        </p>
        <div class="col-sm-3 ">
            <img class="img-responsive" src="~/images/AboutPoland/Varshava.png" />
        </div>
        <div class="col-sm-3">
            <p>
                Первым делом, стоить отметить <strong>столицу Варшаву </strong>  Как никакой другой этот город сочетает в себе историю и современность, здесь гармонично расположились огромные небоскребы
                и бизнес-центры со старым городом.
            </p>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Wroclav.png" />
        </div>
        <div class="col-sm-3">
            <p>
                Одним из самых интересных городов Польши считается <strong> Вроцлав. </strong>  В этом прекрасном городе насчитывается более 100 мостов,
                которые соединяют между собой 12 островов. Также Вроцлав примечателен тем, что практически на каждой улице Вы встретите маленького гнома.
                Каждый из них не похож на других, и каждый имеет свое имя. Например гном трубачист или гном пожарник.
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Krakov.png" />
        </div>
        <div class="col-sm-3">

            Не стоит забывать о городе, который раннее был столицей Польши...о <strong> Кракове. </strong> Этот город никогда не терял своей популярности, он по праву считается одним из
            красивейших городов Европы. Не удивительно, здесь расположено множество замков и музеев, у каждого из которых своя неповторимая легенда. А Рыночная площадь в
            Кракове является одной из самых обширных площадей всей Европы.

        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/torun.png" />
        </div>
        <div class="col-sm-3">
            <p>
                Практически каждый крупный город Польши имеет свою неповторимую атмосферу и необычайную красоту. Кроме остальных стоит отметить такие города как <strong> Торунь, Познань, Гданськ</strong> и многие другие.
            </p>
        </div>
    </div>
    <hr />
    <a name="Kuhny"></a>
    <div class="row">
        <h3 class="ZagolovokColor">НАЦИОНАЛЬНАЯ КУХНЯ </h3>
        <p>
            Не менее яркой и интересной нежели польские города, является польская национальная кухня.
            Разнообразная и оригинальная, сытная и невероятно вкусная. Мясная, бесконечно мясная... нежно приправленная сметаной и грибами.
        </p>
        <div class="col-sm-3">
            <p>
                Польская кухня очень схожа с кухнями других европейских государств. Одно из блюд, которое можно встретить не только в Польской кухне, но и в украинской и немецкой - это <strong> Бигос.</strong>
                Вариантов приготовления бигоса — множество. Обычно используется смесь свежей белокочанной и квашеной капусты, свинина или дичь, копчёная колбаса.
                В блюдо добавляют грибы, чернослив, красное вино, томаты, пряности.
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                Супы – это национальное польское лакомство и обязательная часть обеда. К самым известным польским супам относятся белый борщ, старопольский жур, красный питьевой борщ, грибной борщ и рассольник.
                Популярным Польским супом является <strong> Журек </strong> — это традиционное первое блюдо, без которого не обходятся даже банкеты.
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                Не менее популярны и блюда из рыбы – знаменитая печеная щука, печеная рыба с хреном, салат из сельди, сельдь в сметанном соусе,
               <strong> карп по-польски, </strong>  линь в соусе по-польски, фрикадельки из рыбы в соусе с корнишонами, уха охотничья, рулет из трески или судака и т. д.
                Обязательно в польской кухне Вы встретите грибы, во всех возможных видах:жареные, тушеные, соленые, маринованные и со специями.
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                Традиционным польским десертом является<strong> кекс “мазурек”, “маковник”,  </strong>крендельки с маком, песочный рулет с ореховой начинкой, коврижки и пряники, а также джемы, торты и другая выпечка.
                Из напитков предпочтение традиционно отдается водке, настойкам, бренди и пиву. Очень популярные безалкогольные напитки – квас, кисели, и соки красной и черной смородины.
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/bigos.png" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Gurek.png" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Karp.png" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Kvas.png" />
        </div>
    </div>
   

    <hr />
    <a name="Fakts"> </a>
    <div class="row">
        <h3 class="ZagolovokColor">  ИНТЕРЕСНЫЕ ФАКТЫ О ПОЛЬШЕ </h3>

        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Polyane.png" />
        </div>
        <div class="col-sm-3">
            <p>
                1. Слово “Польша” произошло от названия племени <strong> “поляне”, </strong> что означает “люди, живущие в открытых полях”.
            </p>
            <p>
                2. Польша – самый крупный <strong>экспортер янтаря </strong> в мире. и самый крупный <strong>производитель яблок </strong> в Европе.
            </p>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Apple.png" />
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Yantar.png" />
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-sm-3">
       <img class="img-responsive" src="~/images/AboutPoland/konstituciy.png" />
      </div>
        <div class="col-sm-3">
            <p>
                3. Польша была первой страной в Европе и второй в мире, где <strong> появилась конституция </strong> в мае 1791 года. 
                Она именовалась Правительственным законом и была создана под влиянием  французкой Декларации о правах человека.
            </p>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/Kopernik.png" />
        </div>
        <div class="col-sm-3">
            <p>
                4.Знаменитый ученый-астроном <strong> Николай Коперник, </strong> который первым предположил, что Земля не является центром Вселенной, был уроженцем Польши и является гордостью этой страны.  
            </p>
        </div>
       
    </div>


    <div class="row" style="margin-top:15px;">
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/dvorecKulturi.png" />
        </div>
        <div class="col-sm-3" >
            <p>
                5. Самое высокое здание Польши находится в Варшаве, это <strong> Дворец Культуры и Науки,</strong> высотой 237 метров. Дворец был построен Сталиным как дар польскому народу от советского.
            </p>
        </div>
       
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/reki.png" />
        </div>
     <div class="col-sm-3">
         <p>
             6. <strong> Велна и Нельба </strong> – реки, которые образует единственное в мире пересечение строго под прямым углом, но вода в них не смешивается. Крупнейшим населённым пунктом на реке является город <strong>Вонгровец. </strong>
         </p>
    </div>
    </div>
    <div class="row" style="margin-top:15px;">

        <div class="col-sm-3">

            <img class="img-responsive" src="~/images/AboutPoland/Aisti.png" />
        </div>
        <div class="col-sm-3">
            <p>
                7. На территории Польши проживает наибольшее количество <strong> белых аистов  </strong>(23% от всей мировой популяции)
            </p>
            <p>
                8. <strong> Spoko  </strong>— очень популярная фраза в Польше, которая очень часто используется и значит что-то вроде «Спокуха».
            </p>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/ViniPuh.png" />
        </div>
        <div class="col-sm-3">
            <p>
                9.	В Варшаве одна улица названа в честь Винни-Пуха.
            </p>
            <p>
                10. Tani по польски значит дешевый, поэтому девушкам с именем Таня стоит представляться Татьяной.
            </p>
        </div>
    </div>
    <hr />
        <a name="Valuta"> </a>
    <div class="row">
        <h3 class="ZagolovokColor">ВАЛЮТА ПОЛЬШИ</h3>
        <div class="col-sm-8">
            <p>
                Зло́тый — с XV века обиходное название золотого дуката, с 1526 года основная счётная денежная единица, с 1564 года серебряная монета Королевства Польского, а после и Речи Посполитой,
                с 1924 года и по настоящее время национальная валюта Польши. До 1995 года код ISO 4217 — PLZ, в настоящее время — PLN.
            </p>
            <p>
                Предшественниками злотого были польская марка (гривна) и копа. Марка (гривна) стала использоваться на территории Польши как денежно-весовая, эквивалентная примерно 210 г серебра,
                 единица в XI веке.
            </p>
            <p>
                С XIV века она уступила место краковской гривне, равной примерно 198 г серебра. В XIV веке стала использоваться копа, которая была заимствована из Чехии вместе с пражским грошем. 
                Гривна равнялась 48 польским грошам, которые начали чеканить с средины XIV века в подражание пражским грошам, копа — 60 грошам.
            </p> 
            <p>
                В 2004 году Польша вступила в Евросоюз и планирует переход на евро. Однако для этого необходимо выполнить требования Европейского центрального банка, которым экономика страны пока3
                 не соответствует.
            </p> 
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/images/AboutPoland/Zlotiy.png" />
        </div>
    </div>
   
</div>





