
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.kwords = "Оформление ВНЖ в Киеве. Оформление ПМЖ в Киеве";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="ZagolovokColor"> НАШИ КОНТАКТЫ</h4>
            <p> <strong> E-mail: </strong>  PolandInside@gmail.com </p>
            <p> <strong> Skype: </strong>  InsidePoland  </p>
            <p> График работы:пн-пт: 09.00-18.00 </p>
            <p> <strong> Встреча назначается по телефону </strong> </p>
         </div>
            <div class="col-sm-6">
                <h4 class="ZagolovokColor">ТЕЛЕФОН ДЛЯ СВЯЗИ</h4>
                 <p> 044-360-50-08</p>
                <p> 096-254-50-95</p>
              <p> 068-870-44-49 </p>     
           </div>
     </div>
    <hr />
    <div class="row">
             <h4 class="ZagolovokColor">ВЫБИРАЙ МЕСТО, ГДЕ ХОТЕЛ БЫ ЖИТЬ </h4>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1263072.7585905734!2d21.471987565628485!3d51.807275551763695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2z0JLQsNGA0YjQsNCy0LAsINCf0L7Qu9GM0YjQsA!5e0!3m2!1sru!2sua!4v1446536568652" 
             height="400" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
    
    
    
     
</div>

