
@{
    ViewBag.Title = "EducationPoland";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
        <h3>ОБРАЗОВАНИЕ В ПОЛЬШЕ</h3>
        <p>
            <strong> Образование в Польше это: </strong>
        </p>
        <ul>
            <li>
                качественное и доступное европейское образование;
            </li>
            <li>
                возможность безвизового перемещения по Европе;
            </li>
            <li>
                право на работу уже во время обучения;
            </li>
            <li>
                огромные перспективы после окончания Европейского ВУЗа.
            </li>
        </ul>
        <p>
            <h3>РАЗРЕШЕНИЕ НА ВРЕМЕННОЕ ПРЕБЫВАНИЕ В ЦЕЛЯХ УЧЁБЫ В ВЫСШЕМ УЧЕБНОМ ЗАВЕДЕНИИ</h3>
        </p>

    </div>
    <div class="row">
        <div class="col-sm-9">
            Этот вид разрешения предназначен только для студентов очных отделений ( бакалавра, магистратуры) высших учебных заведений и докторантуры. Разрешение не предназначается для студентов заочных или вечерних отделений,
            а также учащимся других (кроме ВУЗов) учебных заведений.
            <p>
                Разрешение на временное пребывание в целях учёбы в высшем учебном заведении (для студентов дневных отделений и докторантруры) выдаётся, если иностранец:
            </p>
            <ul>
                <li>
                    имеет доказательство его приёма в высшее учебное заведение (справка о поступлении или продолжении обучения);

                </li>
                <li>
                    доказательство факта оплаты за обучение, если она требуется (предъявит квитанцию о внесении платы за обучение в вузе);
                </li>
                <li>
                    имеет медицинскую страховку в понимании положения о всеобщем медицинском страховании или подтверждение оплаты страховщиком стоимости лечения на территории Польши;
                </li>
                <li>
                    имеет обеспеченное место жительства в Польше;
                </li>
                <li>
                    имеет средства, для обеспечения себя в Польше и обратного проезда в страну происхождения или прежнего проживания.
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img src="~/images/VNG_PMG_Work_Educ/education.png" />
        </div>
    </div>
    <div class="row">
        <p>
            К выпускникам польских высших учебных заведений, которые ищут работу, предъявляются другие требования – они должны иметь стабильный и регулярный источник дохода, но при этом,
            не обязаны представлять доказательства того, что у них есть средства для обеспечения себя и оплаты стоимости обучения.
        </p>
        <p>
            Первое такое разрешение выдаётся на срок 15 месяцев (или на срок продолжительности учебного года в вузе либо на подготовительных курсах плюс три месяца). Следующее разрешение может быть выдано на срок до трёх лет.
        </p>
        <p>
            Если же Вы решили сделать перерыв в учебе, будьте готовы к тому, что разрешение будет аннулировано. Не сдача экзаменов за очередной курс также может повлечь за собой аннулирование разрешения.
            Высшие учебные заведения обязаны информировать Воеводские управления об отчислении своих студентов-иностранцев.
        </p>

    </div>

    <div class="row">
        <h3> РАЗРЕШЕНИЕ НА ВРЕМЕННОЕ ПРЕБЫВАНИЕ В ЦЕЛЯХ ОСУЩЕСТВЛЕНИЯ НАУЧНОЙ ДЕЯТЕЛЬСТИ ИЛИ ИССЛЕДОВАНИЙ</h3>

        <div class="col-sm-9">
            <p>
                Такая форма временного пребывания, предусмотренная для иностранцев-учёных. Ее можно получить на основании договора, касающегося реализации исследовательского проекта,
                между иностранцем и утверждённым научным учреждением в Польше. (иностранец может иметь трудовой договор, договор на выполнение работы или наряд-заказ).
            </p>
            <p>
                Кроме того, необходимо представить письменное обязательство научного учреждения, которое касается оплаты стоимости пребывания учёного в Польше,
                а также оплаты его возвращения, в случае если он незаконно задержится в Польше на срок, превышающий время, предусмотренное в разрешении.
            </p>
            <p>
                Этот вид разрешения может также получить учёный, который имеет документ на пребывание с пометкой «учёный» в другой стране Европейского Союза. Все научные исследования, которые он проводит,
                подтверждёны договором, который в свою очередь заключен с научным учреждением в этой стране.
               
            </p>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/Nauka.jpg" />
        </div>
    </div>
    <div class="row">
        <p>
            Для получения разрешения иностранец прилагает к заявлению также документы:
        </p>

        <ul>
            <li>
                подтверждение наличия у него медицинской страховки;
            </li>
            <li>
                финансовые средства на оплату стоимости пребывания и обратного проезда в страну проживания;
            </li>
            <li>
                документы, подтверждающие его квалификацию в контексте планируемых исследований.
            </li>
        </ul>

    </div>


    <div class="row">
        <div class="col-sm-9">
            <p>
                <strong>Разрешение не выдаётся, если:</strong>
            </p>
            <ul>
                <li>
                    иностранец не соответствует вышеперечисленным требования;

                </li>
                <li>
                    данные иностранца находятся в списке иностранцев, пребывание которых в Польше является нежелательным, или занесены в реестр SIS для целей отказа во въезде;
                </li>
                <li>
                    это продиктовано безопасностью государства или необходимостью охраны общественного порядка;
                </li>
                <li>
                    при прохождении процедуры были предоставлены ложные сведения или поддельные документы;
                </li>
                <li>
                    иностранцу необходимо обязательное лечение, согласно с польскими правилами, касающимися инфекционных заболеваний, но он не согласен;
                </li>
                <li>
                    иностранец подал заявление, находясь в Польше незаконно, или на данный моментнаходится на территории Польши незаконно .
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/NoZayvlenie.png" />
        </div>
    </div>


</div>
    
   
