
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Adobe Edge Runtime-->
<script type="text/javascript" charset="utf-8" src="edge_includes/edge.6.0.0.min.js"></script>
<style>
    .edgeLoad-EDGE-268858262 {
        visibility: hidden;
    }
</style>
<script>
    AdobeEdge.loadComposition('Show2', 'EDGE-268858262', {
        scaleToFit: "none",
        centerStage: "none",
        minW: "0px",
        maxW: "undefined",
        width: "600px",
        height: "170px"
    }, { "dom": {} }, { "dom": {} });
</script>
<!--Adobe Edge Runtime End-->


<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="container">
                <h3>ВНЖ В ПОЛЬШЕ</h3>
                <img class="img-rounded img-index-preview" src="~/images/index/smallimg/kartaPMG.png" />
                <p>
                    Вид на жительство или разрешение на временное проживание – это документ, подтверждающий право на проживание, обучение, работу и ведение хозяйственной деятельности в Польше.
                </p>
                <button type="button" class="btn btn-primary">Дополнительно</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="container">
                <h3>ВНЖ В ПОЛЬШЕ</h3>
                <img class="img-rounded img-index-preview" src="~/images/index/smallimg/kartaPMG.png" />
                <p>
                    Вид на жительство или разрешение на временное проживание – это документ, подтверждающий право на проживание, обучение, работу и ведение хозяйственной деятельности в Польше.
                </p>
                <button type="button" class="btn btn-primary">Дополнительно</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4  ">
        <div class="container">
            <h3> НАШИ УСЛУГИ</h3>
            <ul class="list-group sidemenu ">
                <li class="list-group-item active"><a href="#">Ссылки</a></li>
                <li class="list-group-item active"><a href="#">Ссылки</a></li>
                <li class="list-group-item active"><a href="#">Ссылки</a></li>
                <li class="list-group-item active"><a href="#">Ссылки</a></li>
                <li class="list-group-item active"><a href="#">Ссылки</a></li>
                <li class="list-group-item active"><a href="#">Ссылки</a></li>


            </ul>
        </div>
    </div>
</div>

<div class="row hidden-xs" >
    <div class="col-sm-8">
        
        <div id="Stage" class="EDGE-268858262" style="margin:10px;">
        </div>
        <button type="button" class="btn btn-primary">Все о польше</button>
    </div>
    <div class="col-sm4">
        
    </div>
</div>






