
@{
    ViewBag.Title = "PMGPoland";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h3>ПМЖ в Польше - ПОСТОЯННОЕ МЕСТО ЖИТЕЛЬСТВА ИЛИ РАЗРЕШЕНИЕ НА ПОСТОЯННОЕ ПРЕБЫВАНИЕ</h3>
       <h4> ПРЕИМУЩЕСТВА ПМЖ В ПОЛЬШЕ: </h4>
        <ul>
            <li>
                возможность неоднократно пересекать границу (Вам не нужна виза);
            </li>
            <li>
                необходимый шаг на пути к получению Польского гражданства. ( основание для получения гражданства через 3 года);
            </li>
            <li>
                возможность проживания на территории Польши до 5-ти лет.
            </li>
        </ul>
       
      <p>
          <strong> Польское законодательство предусматривает два вида разрешений на бессрочное пребывание для иностранцев: </strong>
      </p>
        <ul>
            <li>
                разрешение на постоянное пребывание;
            </li>
            <li>
                разрешение на пребывание долгосрочного резидента Европейского Союза.
            </li>
        </ul>
        <p>
            Иностранец может подать заявление о предоставлении этих разрешений лишь после нескольких лет непрерывного пребывания в Польше. Требуемый срок пребывания зависит от прежнего правового статуса заявителя.
        </p>
        <p>
            <strong>Условия подачи заявления</strong>
        </p>
        <p>
            В момент подачи заявления о предоставлении разрешения на бессрочное пребывание, иностранец должен находиться в Польше на законном основании. 
            Не может подать заявление иностранец, который содержится в Польше под стражей, в пенитенциарном учреждении, охраняемом центре или у которого не истёк ещё срок добровольного возвращения.
        </p>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <p>
               <strong> Карта пребывания</strong> 
            </p>
            <p>
                После получения разрешения на постоянное пребывание или разрешения на пребывание резидента ЕС иностранец получает карту пребывания. Она даёт его обладателю право на многократное пересечение польской границы.
            </p>
            <p>
                Кроме того, карта пребывания, выданная в связи с имеющимся разрешением на постоянное пребывание или разрешением на пребывание долгосрочного резидент
                а ЕС в Польше даёт возможность перемещения в пределах европейских государств, входящих в Шенгенскую зону.
            </p>
            <p>
                Она <strong> даёт право только на перемещение в туристических целях на срок до 90 дней </strong>в течение любого 180-дневного периода . Она <strong> не даёт права на работу в других странах</strong>.
            </p>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/polskaPMG.png" />
        </div>
    </div>
    
    <div class="row">
        <h3>РАЗРЕШЕНИЕ НА ПОСТОЯННОЕ ПРЕБЫВАНИЕ</h3>
        <p>
            <strong> Это разрешение заменяет прежнее разрешение на поселение. Оно выдаётся:</strong>
        </p>
        <ul>
            <li>
                ребёнку иностранца, который имеет разрешение на постоянное пребывание или разрешение на пребывание долгосрочного резидента ЕС, если ребёнок находится под его родительской властью;
            </li>
            <li>
                ребёнку польского гражданина, если он находится под его родительской властью;
            </li>
            <li>
                иностранцу польского происхождения или у которого имеется действительная Карта поляка и который намерен поселиться в Польше на постоянное жительство;
            </li>
            <li>
                супругам польских граждан при условии, что супружество длится не менее трёх лет, a иностранец находился в Польше в течение двух лет, непосредственно предшествовавших
                 подаче заявления на основании разрешения на временное пребывание, выданного в связи с вступлением в брак, статуса беженца, дополнительной защиты или согласия на пребывание по гуманным соображениям;
            </li>
            <li>
                жертвам торговли людьми, которые находились в Польше непосредственно перед подачей заявления в течение, как минимум, 1 года на основании разрешения на временное пребывание для жертв торговли людьми, 
                сотрудничали с правоохранительными органами по делу о преступлении торговли людьми, а также имеют обоснованные опасения в отношении возвращения в страну происхождения, подтверждённые прокурором, ведущим дело;
            </li>
            <li>
                лицам, на которых в Польше распространяется защита (статус беженца, дополнительная защита или согласие на пребывание по гуманным соображениям) и которые непосредственно перед подачей заявления находились в Польше не менее 5 лет;
            </li>
            <li>
                лицам, которые непосредственно перед подачей заявления находились в Польше не менее 10 лет на основании согласия на допустимое пребывание, если иностранец получил этот статус в качестве формы защиты;
            </li>
            <li>
                люди, которые получили в Польше убежище.
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <p>
               <strong> Разрешение не предоставляется иностранцу, если: </strong>
            </p>
            <ul>
                <li>
                    он не соответствует вышеперечисленным требованиям; 
                </li>
                <li>
                    его/её данные занесены в перечень лиц, чье пребывание в Польше является нежелательным, или в реестр SIS в целях отказа во въезде;
                </li>
                <li>
                    это продиктовано интересами Польши или соображениями обороноспособности и безопасности государства;
                </li>
                <li>
                    основанием для ходатайствования о разрешении является фиктивный брак;
                </li>
                <li>
                    при прохождении процедуры он дал ложные показания или предоставил ложную информацию либо поддельные документы;
                </li>
                <li>
                    у иностранца имеются налоговые задолженности в Польше;
                </li>
                <li>
                    иностранец не оплатил расходов, которые необходимы для его возвращения на Родину.
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/NoZayvlenie.png" />
        </div>
    </div>
    <div class="row">
        <h3>НЕПРЕРЫВНОЕ ПРЕБЫВАНИЕ</h3>
        <p>
            Непрерывным считается такое пребывание иностранца, при котором он не покинул Польшу больше, чем на 6 месяцев,
             a его поездки за границу не превышают в общей сложности 10 месяцев в течение периода, который является основанием для предоставления разрешения на постоянное пребывание.
        </p>
        <p>
            При расчёте требуемого срока пребывания не учитываются выезды, которые были связаны со следующими ситуациями:
        </p>
        <ul>
            <li>
                выполнением трудовых обязанностей или выполнением работы за рубежом на основании договора с работодателем с местонахождением на территории Польши;
            </li>
            <li>
                сопровождением супруга или родителя, выполнявшими такие обязанности;
            </li>
            <li>
                особыми личными обстоятельствями, которые при этом не вызвали отсутствия в течение более чем 6 месяцев;
            </li>
            <li>
                выездом из Польши на практику или на занятия, предусмотренные в ходе учёбы в польском высшем учебном заведении.
            </li>
        </ul>
        <p>
            Лицам, которые имеют в Польше статус беженца, дополнительную защиту, в срок непрерывного пребывания засчитывается также время ожидания 
            решения по вопросу о предоставлении международной защиты, даже если иностранец находился в это время под стражей или в охраняемом центре.
        </p>
    </div>



 </div>