
@{
    ViewBag.Title = "ВНЖ в Польше";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.kwords = "Получить ВНЖ в Польше, Преимущества ВНЖ в Польше, Вид на жительство в Польше, ВНЖ в Польше для Украинцев,краткосрочное пребывание в Польше, виза в Польшу";
}
<div class="container">
    <div class="row">
        <h3 class="ZagolovokColor">ВНЖ в Польше - ВИД НА ЖИТЕЛЬСТВО ИЛИ РАЗРЕШЕНИЕ НА ВРЕМЕННОЕ ПРЕБЫВАНИЕ</h3>
      <h4 class="ZagolovokColor"> ПРЕИМУЩЕСТВА ВНЖ В ПОЛЬШЕ: </h4>
        <ul>
            <li>
                возможность неоднократно пересекать границу (Вам не нужна виза);
            </li>
            <li>
                визиты в страны Шенгенского союза на срок до 90 дней;
            </li>
            <li>
                проживание на территории Польши до 3-х лет;
            </li>
            <li>
                с ВНЖ Вы имеете возможность получать образование и работать в Польше.
            </li>
        </ul>
    </div>
    <div class="row">
        <p>
            Разрешения на временное пребывание выдаются на срок от трёх месяцев до трёх лет. Заявление о выдаче разрешения на временное пребывание рассматривает <strong>Воеводское управление</strong> .
        </p>
        <p>
            <strong> Заявление можно подать только в Польше.</strong>  Нет возможности подать заявления при посредничестве польского консульства. Для рассмотрения заявления необходимым условием является снятие отпечатков пальцев.
        </p>
        <p>
            Чтобы получить разрешение на временное пребывание, нужно доказать необходимость пребывания в Польше на срок более 3х месяцев.
        </p>
    </div>
  
    <div class="row">
        <h3 class="ZagolovokColor">КРАТКОСРОЧНОЕ РАЗРЕШЕНИЕ НА ПРЕБЫВАНИЕ </h3>
        <div class="col-sm-9">
            <p>
                В исключительных случаях возможно краткосрочное пребывание в Польше. Такое разрешение может быть выдано на срок до шести месяцев.
            </p>
            <p>
                <strong> Это разрешение может быть выдано:</strong>
            </p>
            <ul>
                <li>
                    иностранным детям без опеки;
                </li>
                <li>
                    гражданам, которые являются резидентами ЕС в другой стране-участнице и они намерены в Польше устроиться на работу, заниматься
                     предпринимательской деятельностью, поступить в высшее учебное заведение или же имеют другие причины для пребывания в Польше;
                </li>
                <li>
                    семьям граждан, которые являются резидетнами ЕС и имеют уважительные причины пребывания в Польше.
                </li>
            </ul>
        </div>
        <div class="col-sm-3" style="background-color:#132434; color:white; padding:5px;">
            <strong > Основания для временного пребывания:</strong>
            <ul>
                <li>
                    предложение работы в Польше;
                </li>
                <li>
                    осуществление предпринимательской деятельности;
                </li>
                <li>
                    учёба в вузе или школе, научная деятельность;
                </li>
                <li>
                    семейные связи или другие причины.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Кроме того, существуют иные ситуации, при которых может быть выдано такое разрешение. 
             Этими вопросами занимаются Воеводские управления, анализируя каждую ситуацию индивидуально. <strong> Разрешение может быть выдано иностранцу, который: </strong>
        </p> 
        <ul>
            <li>
                намерен начать учёбу в высшем учебном заведении или профессиональную подготовку в Польше;       
            </li>
            <li>
                является выпускником польского высшего учебного заведения и ищет работу в Польше;
            </li>
            <li>
                является духовным лицом, выполняющим религиозную функцию в церкви (это касается церквей и религий, статус которых в Польше урегулирован), если это лицо прибывает в целях, связанных со своей функцией;
          
            </li>
            <li>
                является потерпевшим в уголовном производстве против недобросовестного работодателя или ожидает получения не выплаченной в положенный срок заработной платы;
           </li>
            <li>
                предоставил другие основания для его пребывания в Польше.
            </li>
        </ul>
    </div>
   
    <div class="row">
        <h3 class="ZagolovokColor">ВОССОЕДИНЕНИЕ СЕМЕЙ</h3>
        <div class="col-sm-9">
            <p>
                <strong> Разрешение на временное пребывание для членов семей граждан Польши и членов семей иностранцев. </strong>
                 Термин «члены семьи» понимает под собой только супругов, а также детей до 18 лет, (такой вид разрещения не могут получить братья и сёстры, взрослые дети, родители и более дальние родственники).
            </p> 
            <div class="ZagolovokColor"> Разрешение для своей семьи могут получить те граждане Польши и иностранцы, которые имеют в Польше:</div>
            <ul>
                <li>
                    право на постоянное пребывание или статус долгосрочного резидента ЕС;                   
                </li>
                <li>
                    статус беженца, дополнительную защиту или согласие на пребывание по гуманитарным соображениям;
                </li>
                <li>
                    разрешение на временное пребывание в течение двух лет, причём последнее разрешение было выдано на срок не менее одного года;
                </li>
                <li>
                    разрешение на временное пребывание, выданное в целях осуществления научных исследований;
                </li>
                <li>
                    Голубую карту ЕС (разрешение на работу по специальности, требующей высокой квалификации).
                </li>
           </ul>
        </div> 
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/family.jpg" />
        </div>
    </div>
    <div class="row">
        <p class="ZagolovokColor">
            Кроме того,<strong> иностранец, </strong>  с которым воссоединяется семья, <strong>  должен документально подтвердить,</strong> что он имеет:
            
        </p>
        <ul>
           <li>
             регулярный и стабильный источник дохода,достаточный для обеспечения себя и своей семьи,
          </li>
            <li>
             медицинскую страховку или подтверждение оплаты страховщиком стоимости лечения на территории Польши
            </li>
         <li>
             место жительства.
         </li>
        </ul>
        <p>
            Эти требования не касаются только иностранцев, на которых распространяется в Польше международная защита
             (статус беженца или дополнительная защита) также имеется условие, что заявление о выдаче разрешения для семьи было подано в течение 6 месяцев с того дня, когда он получил эту защиту.
        </p>
    </div>
    <div class="row">
        <h3 class="ZagolovokColor">ОТКАЗ В РАЗРЕШЕНИИ</h3>
        <div class="col-sm-8">
            <strong> Иностранцу могут отказать в разрешении на пребывание любого вида. Это случается если:</strong>
            <ul>
                <li>
                    он не соответствует требованиям, предъявляемым к данному виду разрешения;
                </li>
                <li>
                    данные иностранца занесены в перечень иностранцев, чьё пребывание является нежелательным, или в реестр SIS для целей отказа во въезде;
                </li>
                <li>
                    это продиктовано соображениями безопасности государства либо общественного порядка;
                </li>
                <li>
                    иностранец представил ложные сведения или поддельные документы;
                </li>
                <li>
                    у иностранца имеются налоговые задолженности в Польше;
                </li>
                <li>
                    иностранец не оплатил расходов, которые необходимы для его возвращения на Родину;
                </li>
                <li>
                    иностранцу необходимо обязательное лечение, согласно с польскими правилами, касающимися инфекционных заболеваний, но он не согласен;
                </li> 
                <li>
                    он подал заявление во время незаконного пребывания в Польше или на данный момент пребывает в Польше незаконно.
                </li>
            </ul>
        </div>
        <div class="col-sm-4" style="background-color:#132434; ">
            <p style="color:white; padding:5px;">
                SIS Шенгенская информационная система (Schengen Information System) — закрытая база данных в рамках Шенгенского соглашения, в которую ранее были внесены только физические лица или предметы, которые находятся в розыске, лица,
                нежелательные на территории одного из государств-участников или пропавшие без вести, информации о поддельных и утерянных документах и информация, связанная с безопасностью границ.
            </p>
        </div>
    </div>











    </div>