
@{
    ViewBag.Title = "Почему Польша";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.kwords = "Почему выбрать Польшу?, Зарплата в польше, работать в Польше, жить в Польше, Почему Польша, открытие фирмы в Польше, бизнес в Польше, обучение в Польше,";
}
<div class="container">
    <div class="row">
        <h3 class="ZagolovokColor">ПОЧЕМУ ПОЛЬША?</h3>
        <h4 class="ZagolovokColor">ВЫ ВСЕ ЕЩЕ НЕ УВЕРЕНЫ СТОИТ ЛИ ЕХАТЬ? ТОГДА ЭТА ИНФОРМАЦИЯ СПЕЦИАЛЬНО ДЛЯ ВАС</h4>
              <ul>
                <li>
                    <strong> Польша является самой большой страной среди стран Западной Европы.</strong>
                </li>
                <li>
                    <strong> Польша является одной из самых влиятельных и привлекательных стран Центральной и Западной Европы.</strong>
                </li>
                <li>
                    <strong> Польша была включена в состав Европейского Союза в мае месяце 2004 года. </strong>
                </li>
            </ul>
        
       <p>
           Эта страна имеет стабильную экономику, высокий уровень жизни, льготы, соц.пакеты и поддержку со стороны государства. Минимальная 
           з/п составляет 475 евро, а средняя з/п в Варшаве около 1000 долларов. В Польше легко адаптируется славянский человек, у нас схожие культуры, кулинарные предпочтения, климат.
       </p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h4 class="ZagolovokColor"> ПОЛЬША - ИДЕАЛЬНОЕ МЕСТО ДЛЯ РАБОТЫ И ЖИЗНИ. </h4>
           <p>
               Только представте: более высокая оплата труда, по сравнению со многими восточноевропейскими странами, бесплатное базовое медицинское обслуживание, путешествия по всей Европе и конечно же, возможность получить Польское граждансво спустя несколько лет.
            </p> 
            <p>
                Беспокоитесь за языковой барьер? Не волнуйтесь, даже если Вы не сильны в языках, окунаясь в окружающую среду,
                 уже через 2 месяца Вы и не вспомните об этих проблемах. Поляки с уважением восспринимают Ваши ошибки в разговорной речи и с удовольствием помагают. К тому же, в Польше огромное количество языковых курсов по доступным ценам.
            </p>
            <p>
                <strong> Ко всему этому, Польша невероятно красива! Каждый город - это сказачная страна! Большое количество замков! Старинных зданий! Это райский уголок в самом центре Европы!</strong>
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/images/AboutPoland/PolandZamki.png" />
        </div>
    </div>
    <div class="row">
        <h3 class="ZagolovokColor"> БИЗНЕС В ПОЛЬШЕ</h3>
        <div class="col-sm-9">
            <p>
                Если Вы думаете расширять свой бизнез за пределами Родины, то Польша это верно взятый курс.
                Ведение бизнеса на территории Польши - это самый быстрый способ стать гражданином этого прекрасного государства.
            </p>
            <p>
                <strong> Почему стоит выбрать Польшу?</strong>
            </p>
            <ul>
                <li>
                    Простая и быстрая процедура открытия фирмы;
                </li>
                <li>
                    Ваша компания автоматически становится международной;
                </li>
                <li>
                    Имея свой бизнес в Польше, можно получить европейское кредитование.
                </li>
            </ul>
            <p>
                При этом, Вы не обязаны постоянно находиться в Польше. Можно продолжать вести привычную для Вас жизнь за пределами Польши, но при этом иметь возможность свободно перемещаться по странам шенгенской зоны, 
                при желании управлять бизнес процессами удаленно или трудоустроиться в Варшаве или любом другом населенном пункте Польши.  После регистрации предприятия, Вы имеете возможность забрать свою семью к себе.
            </p>
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/AboutPoland/BISNESS.jpg" />
        </div>
    </div>

    <div class="row">
        <p>
            <strong>
                Вы знаете, что самостоятельно можете справиться со всеми трудностями, но иногда бывают моменты,когда без квалифицированной консультации не обойтись.
                Для этого мы и работатем, каждый день заботясь о своих клиентах. Ведь открывая свое дело в чужой стране, нужно быть уверенным в том, что тебя всегда поддержут и помогут.
            </strong>
        </p>
    </div>

    <div class="row">
        <h3 class="ZagolovokColor"> ПОГОВОРИМ ОБ ОБРАЗОВАНИИ</h3>
        <p>
            Если Ваша заветная мечта учиться заграницей, то снова Польша- это лучший выбор..
        </p>
        <p>
            Стоимость обучения от 800 евро в семестр, возможность учебы на английском или польском языке и диплом, который признается вот всем мире. Вы получите достойное Европейское образование по стоимоти образования в Украине, например, в Германии это обошлось бы в разы дороже.
        </p>
        <div class="col-sm-9">
            <p>
                <strong> Попасть на учебу в Польшу </strong>- не только интересно и перспективно, но и довольно легко. В Польских ВУЗах нет вступительных экзаменов.
            </p>
            <p>
                Плюс ко всему, студентам предоставляется комфортное проживание в общежитии - номер со всеми удобствами, Интернетом и WI-FI. Как студент Польского ВУЗа Вы можете свободно путешествовать по Европе.
            </p>
            <p>
                Самое главное, что получив Европейское образование Вы можете быть уверены: вам будут рады везде – во всех странах Евросоюза, России, Белоруссии, и, безусловно, у нас на Украине. Рейтинги польских вузов растут
                 с каждым годом, поэтому сейчас в них получают образование европейского образца почти 80 тысяч иностранных студентов. После окончания они могут получить работу и в самой Польше, и в Европе, а со временем – даже вид на жительство.
            </p>
           
        </div>
        <div class="col-sm-3">
            <img class="img-responsive"src="~/images/AboutPoland/yabloko.png" />
        </div>
    </div>
<div class="row">
    <p>
        Начинать готовиться к поступлению в вуз следует почти за год до начала обучения. Важным моментом является оформление студенческой визы в Польшу. А еще - переписка с университетом, согласование всех вопросов, получение необходимых бумаг для посольства и т.д
    </p>
    <strong>
        Мы с удовольствием пройдем этот путь вместе с Вами. В таких серьезных вопросах просто необходима квалифицированная помощь специалистов.
        У Вас итак полно дел: выбрать ВУЗ, изучить места куда можно сходить, найти новых друзей, собрать чемоданы...А всем остальным, подготовкой документов, визами, содействием в поступлении, займемся мы.
    </strong>
</div>




</div>