
@{
    ViewBag.Title = "WorkPoland";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
        <h3>РАБОТА В ПОЛЬШЕ</h3>  
        <div class="col-sm-9">
            <h4> 5 ПРИЧИН РАБОТАТЬ В ПОЛЬШЕ: </h4>
            <ul>
                <li>
                    минимальная зарплата в Варшаве 475евро;
                </li>
                <li>
                    простая и быстрая процедура открытия фирмы для иностранца;
                </li>
                <li>
                    быстрый способ иммигрировать в Польшу ;
                </li>
                <li>
                    безопасная страна, стабильная экономика;
                </li>
                <li>
                    возможность получить европейское кредитование для собственного бизнеса.
                </li>
            </ul>
        </div>
        <div class="col-sm-3"style="background-color:#132434; color:white; padding:5px;" >
            <p>
                Эмигра́ция — переселение из одной страны в другую по экономическим, политическим, личным обстоятельствам.
            </p>
            <p>
                Иммиграция — противоположный процесс, то есть выезд в какую-либо страну с целью длительного или постоянного пребывания.
            </p>
        </div>
    </div>
    <div>
        <h3> РАЗРЕШЕНИЕ НА ВРЕМЕННОЕ ПРЕБЫВАНИЕ И РАБОТУ </h3>
       
        <p>
            Единое разрешение, которое даёт иностранцу право сразу на пребывание и работу в Польше.
             Оно предназначено для иностранцев, которые нуждаются в разрешении на работу, чтобы устроиться на работу в Польше. Чтобы получить такого рода разрешение:
        </p>
        <ul>
            <li>
                необходимо иметь в Польше источник стабильного дохода, чтобы обеспечить себя и семью;
            </li>
            <li>
                иметь в Польше медицинскую страховку в понимании положения о всеобщем медицинском страховании или подтверждение оплаты страховщиком стоимости лечения на территории Польши;
            </li>
            <li>
                иностранец должен иметь в Польше обеспеченное место жительства;
            </li>
            <li>
                работодатель иностранца не может иметь возможности приёма на работу работника на местном рынке труда (из числа поляков или иностранцев, находящихся в Польше и уже имеющих право на работу).
            </li>
        </ul>
        <p>
            Разрешение выдаётся на выполнение конкретной работы у конкретного работодателя. Для смены работодателя необходимо получить новое разрешение.
        </p>
    </div>

    <div class="row">
        <h3> РАЗРЕШЕНИЕ НА ВРЕМЕННОЕ ПРЕБЫВАНИЕ В ЦЕЛЯХ ОСУЩЕСТВЛЕНИЯ ПРЕДПРИНИМАТЕЛЬСКОЙ ДЕЯТЕЛЬНОСТИ</h3>
       <div class="col-sm-9">
           <p>
               Кроме стандартных требований, касающихся иностранца (наличие стабильного источника обеспечения себя, страховки, жилья),
               заявитель должен представить доказательство того, что данная фирма является выгодной для польской экономики , то есть:
           </p>
           <ul>
               <li>
                   в году, предшествовавшем подаче заявления, доход фирмы был не ниже 12-кратной среднемесячной заработной платы в воеводстве местонахождения фирмы, ИЛИ
               </li>
               <li>
                   в фирме занято на неопределённый срок, на полную ставку не менее двух работников. Работники должны быть поляками или иностранцами, имеющими в Польше право на работу без разрешения, ИЛИ
               </li>
               <li>
                   фирма располагает средствами для выполнения одного из вышеперечисленных условий в будущем или осуществляет действия, которые позволят выполнить их в будущем.
               </li>
           </ul>
        </div> 
        <div class="col-sm-3">
            <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/business.jpg" />
        </div>
    </div>
    <p>
        Описанные правила касаются также единоличных фирм (индивидуальная предпренимательская деятельность).
    </p>
    <div class="row">
        <p>
            <strong>Разрешение на пребывание для работников, откомандированных на работу в Польше зарубежным работодателем.</strong>
        </p>
        <p>
            Условием получения разрешения является наличие у иностранца источника стабильного и регулярного дохода, позволяющего оплачивать расходы по обеспечению в Польше себя и лиц,
             находящихся на его иждивении, в размере, превышающем минимальный доход, предусмотренный законом о социальной помощи. Необходимо также наличие медицинской страховки в понимании положения
             о всеобщем медицинском страховании или подтверждение оплаты страховщиком стоимости лечения на территории Польши. Кроме того, иностранец должен документально подтвердить наличие у него в Польше места жительства.
        </p> 
    </div>
    <div class="col-sm-9"><p>
    <strong>Заявление о предоставлении разрешения на временное пребывание и работу не может быть подано, если иностранец:</strong>
</p>
        <ul>
            <li>
                имеет в Польше любой вид защиты: статус беженца, дополнительную или временную защиту, согласие на допустимое пребывание или согласие на пребывание по гуманным соображениям либо убежище;
            </li>
            <li>
                ожидает рассмотрения заявления о предоставлении статуса беженца или убежища;
            </li>
            <li>
                имеет право на постоянное пребывания или разрешение на пребывание долгосрочного резидента ЕС;
            </li>
            <li>
                находится в Польше на основании Шенгенской визы, выданной по гуманитарным соображениям или в связи с государственными интересами;
            </li>
            <li>
                содержится под стражей или в охраняемом центре для иностранцев;
            </li>
            <li>
            может добровольно покинуть Польшу в течение срока добровольного возвращения, определённого в решении об обязанности к возвращению;
        </li>
        <li>
            обязан покинуть территорию Польши в результате отказа в продлении Шенгенской визы, разрешения на временное или постоянное пребывание
             (или в результате аннулирования такого разрешения), отказа в предоставления международной защиты или аннулирования согласия на пребывание по гуманным соображениям;
        </li>
        <li>
            является работником, откомандированным для работы в Польше зарубежным работодателем          
        </li>
        <li>
            въехал в Польшу в рамках въездных льгот для иностранцев, путешествующих в целях торгового обмена или инвестиционных целях;
        </li>
        <li>
            осуществляет в Польше предпринимательскую деятельность.
        </li>
    </ul>
    </div>
    <div class="col-sm-3">
        <img class="img-responsive" src="~/images/VNG_PMG_Work_Educ/NoZayvlenie.png" />
    </div>








</div>


